$container-colors:
    //Color container-1
    rgb(0, 0, 255),
    
    //Color container-2
    rgb(255, 0, 0),

    //Color container-3
    rgb(0, 255, 0);

* {
    margin: 0;
    padding: 0;
}

.contenedor-containers {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.container {
    display: flex;
    gap: 15px;
}

.box {
    color: rgb(255, 255, 255);
    padding: 25px;
}

$i: 1;

@while $i <= length($container-colors) {
  $container-color: nth($container-colors, $i);

  .container-#{$i} {
    .darken-4 {
      background-color: darken($container-color, 40%);
    }
    .darken-3 {
      background-color: darken($container-color, 30%);
    }
    .darken-2 {
      background-color: darken($container-color, 20%);
    }
    .darken-1 {
      background-color: darken($container-color, 10%);
    }
    .base-color {
      background-color: $container-color;
    }
    .lighten-1 {
      background-color: lighten($container-color, 10%);
    }
    .lighten-2 {
      background-color: lighten($container-color, 20%);
    }
    .lighten-3 {
      background-color: lighten($container-color, 30%);
    }
    .lighten-4 {
      background-color: lighten($container-color, 40%);
    }
  }

  $i: $i + 1;
}