$color-base: rgb(255, 0, 0);
$color-important: darken($color: $color-base, $amount: 30%);
$color-warning: rgb(242, 181, 214);
$fuente-princial: "Courier New";
$fuente-secundaria: "Georgia";
$shadow: -5px 5px 5px rgb(0, 0, 0);

