$color-base: rgb(0, 0, 255);
$color-important: darken($color: $color-base, $amount: 30%);
$color-warning: rgb(0, 255, 255);
$fuente-princial: "Gill Sans";
$fuente-secundaria: "Cambria";
$shadow: 5px 5px 5px rgb(0, 0, 0);
